
<h1 class="title">Ventas últimas Semanas</h1>

<mat-card class="card-Dasboard">
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="120px">
            <mat-grid-tile>
                <mat-card class="card-info">
                    <mat-card-header> 
                        <div mat-card-avatar>
                            <mat-icon color="accent">payments</mat-icon>
                        </div>
                        <mat-card-title>Total de Ingresos</mat-card-title>
                        <mat-card-subtitle>{{totalIngresos | currency}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="card-info">
                    <mat-card-header> 
                        <div mat-card-avatar>
                            <mat-icon color="warn">sell</mat-icon>
                        </div>
                        <mat-card-title>Total de Ventas</mat-card-title>
                        <mat-card-subtitle>{{totalVentas}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="card-info">
                    <mat-card-header> 
                        <div mat-card-avatar>
                            <mat-icon color="primary">collections_bookmark</mat-icon>
                        </div>
                        <mat-card-title>Total de Productos</mat-card-title>
                        <mat-card-subtitle>{{totalProductos}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-card class="Grafico">
            <mat-card-content>
                <div class="div_grafico">
                    <canvas id="chartBarras"></canvas>
                </div>
            </mat-card-content> 
        </mat-card>

     
    </mat-card-content>
</mat-card>
