 .menu-span{
    flex: 1 1 auto;
 }
 .menu-label{
    font-size: 20px;
    margin-right: 20px;
 }
 mat-toolbar{
  background-color: #48C9B0;
 }
 .pageInit{
  background-color:rgba(255, 255, 243, 0.911);
   height: 80vh
 }
 @media screen and (min-width: 375px) and (max-width: 767px) {
   .menu-label {
     font-size: 12px; 
   }
 
   .pageInit {
     height: 60vh; 
   }
 
 }