.title{
    margin: 0px 0px 0px 40px;
}

.card-sale{
    margin: 20px 40px 40px 40px;
    background-color:rgba(255, 255, 243, 0.911);
}
.campo-form{
    background-color:rgba(255, 255, 243, 0.911);
}
.full-width{
    width: 100%;
}
table{
    background-color:rgba(255, 255, 243, 0.911);
}
th {
    text-align: center;
  }
  
  td {
    text-align: center;
    line-height: 1.5; 
  }
  mat-divider{
    margin-bottom: 15px;
  }

  @media (min-width: 424px) and (max-width: 767px) {
    .title {
        margin: 0 0 0 20px;
        font-size: 20px;
    }

    .card-sale {
        margin: 20px;
    }
    .full-width {
        width: 100%;
    }

    table {
        font-size: 14px; 
        align-items: center;
    }

    th.mat-header-cell, td.mat-cell {
        padding: 12px; 
        text-align: center;
    }

    mat-divider {
        margin-bottom: 10px;
    }
}