.title{
    margin: 20px 0px 0px 40px;
}

.card-reporte{
    margin: 20px 40px 40px 40px;
}
.campo-form{
    display: flex;
    align-items: flex-start;
}
.boton{
    width: 150px;
    margin-top: 15px;
}
mat-form-field{
    margin-right: 10px;
}
table{
    width: 100%;
}