.title{
    margin: 0px 0px 0px 40px;
}

.card-reporte{
    margin: 20px 40px 40px 40px;
    background-color:rgba(255, 255, 243, 0.911);
}
.campo-form{
    display: flex;
    align-items: flex-start;
}
.boton{
    width: 150px;
    margin-top: 15px;
}
mat-form-field{
    margin-right: 10px;
}
table{
    width: 100%;
    background-color:rgba(255, 255, 243, 0.911);
}
th {
    text-align: center;
  }
  
  td {
    text-align: center;
    line-height: 1.5; 
  }

  @media (max-width: 767px) {
    .title{
        margin: 0 0 0 20px;
        font-size: 20px;
    }
    .card-reporte {
        margin: 20px 10px; 
    }
    .boton {
        width: 100%; 
    }
    mat-form-field {
        margin-right: 0; 
    }
    table {
        font-size: 14px; 
    }
    th, td {
        padding: 12px; 
    }
}


@media (max-width: 424px) {
    .title{
        margin: 0 0 0 20px;
        font-size: 15px;
    }
    .card-reporte {
        margin: 10px; 
    }
    table {
        font-size: 11px; 
    }
    th, td {
        padding: 8px; 
    }
}
