.title{
    margin: 0px 0px 0px 40px;
}

.card-Product{
    margin: 20px 40px 40px 40px;
    background-color:rgba(255, 255, 243, 0.911);
}

table{
    width: 100%;
    background-color:rgba(255, 255, 243, 0.911);
}

.full-width {
    width: 100%;
    font-size: 14px;
  }
  

th {
    text-align: center;
  }
  
  td {
    text-align: center;
    line-height: 1.5; 
  }
  mat-divider{
    margin-bottom: 15px;
  }
  @media (min-width: 424px) and (max-width: 767px) {
    .title {
        margin: 0 0 0 20px;
        font-size: 20px;
    }

    .card-Product {
        margin: 15px;
    }

    table {
        font-size: 12px; 
    }

    th, td {
        padding: 6px;
        line-height: 0,2; 
    }
  
    mat-divider {
        margin-bottom: 10px;
    }
    .small-button {
      width: 24px;
      height: 24px;
      align-items: center;
  }
}